@using FinalProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<style>
    .center {
        text-align: center;
    }

    .button {
        position: absolute;
        top: 50%;
    }
    h1 {
        font-size: 50px;
        
    }
    p {
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
</style>
<html>
<body>
    <div>
        <h1 class="center" >Welcome to ExperienceIT TickIT!</h1>
        <p class="center" >Taking care of your technical problems one <i>TickIT</i> at a time!</p>
        <br>
        <br>
        
        <p class="center" >Click the button below to log in with a gmail account.</p>
    </div>
    <div class="center">

        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</html>