body {
    background-image: url('https://images.homedepot-static.com/productImages/379980c8-0e62-4aa0-8465-bcc9451d912b/svn/black-wallpops-wall-decals-wpk2521-64_1000.jpg');
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p {color:darkred}
h1{color:darkred}
h2{color:darkred}
h3{color:darkred}
h3{font-size: 300%}
h4{color:darkred}
h4{font-size: 300%}
h5{color: darkred}
h5{font-size: 350%}
dt{background-color:white}
dt{font-size: 150%}
dd{background-color: white}
dd{font-size: 150%}
th{font-size: 250%}
th{background-color:white}
td{font-size: 200%}
td{background-color:white}
navbar navbar-inverse navbar-fixed-top {
    background-color: darkred
}
