body {
    background-image: url('https://wallpapertag.com/wallpaper/full/9/0/6/537618-detroit-skyline-wallpaper-2048x1340-ipad-pro.jpg');
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p {}
