body {
    background-image: url('https://images.homedepot-static.com/productImages/379980c8-0e62-4aa0-8465-bcc9451d912b/svn/black-wallpops-wall-decals-wpk2521-64_1000.jpg');
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p {color:darkgreen}
h1{color:darkgreen}
h2{color:darkgreen}
h3{color:darkgreen}
th{color:darkgreen}
td{color:darkgreen}